* {
    margin: 0;
}

body {
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@font-face {
    font-family: 'Montaga';
    src: url('~/assets/Montaga-Regular.ttf');
}

@font-face {
    font-family: 'Trocchi';
    src: url('~/assets/Trocchi-Regular.ttf');
}

@font-face {
    font-family: 'Montez';
    src: url('~/assets/Montez-Regular.ttf');
}

@font-face {
    font-family: 'Rozha One';
    src: url('~/assets/RozhaOne-Regular.ttf');
}

@font-face {
    font-family: 'Schoolbell';
    src: url('~/assets/Schoolbell-Regular.ttf');
}

@font-face {
    font-family: 'Oooh Baby';
    src: url('~/assets/OoohBaby-Regular.ttf');
}

@font-face {
    font-family: 'Tsukimi Rounded';
    src: url('~/assets/TsukimiRounded-Regular.ttf');
}

@font-face {
    font-family: 'Montagu Slab';
    src: url('~/assets/MontaguSlab.ttf');
}

@font-face {
    font-family: 'Satisfy';
    src: url('~/assets/Satisfy.ttf');
}